<section.py-2="py-2">
    <div class="row">
        <div class=".col-md-6.text-center">
            <h1 class="display-3 mt-3 pt-5">
                Sample Ebook
            </h1><p class="lead">This is sample text from the Ebook</p>
            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="pk_test_51LfVbOELdcnNg3an1cvoC63zrKZXio5FRf7jtQlQO5Kw58DYf3YaQH5H8EiPGocRlGG9JQ9MHG0UQ0e3Z7vmeqGN00vunPe1Zk"
                    data-amount="2000"
                    data-name="Sample Company EBook"
                    data-description="EBook by Sample Company"
                    data-image="/img/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/cover.png" alt="" class="img-fluid">
        </div>
    </div>
</section>


